*{
    margin: 0;
    padding: 0;
}
   /* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'),        
         url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-regular.woff') format('woff'); /* Modern Browsers */
}
body{
    width: 100%;
}
.logo{
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    
}
.logo h4{
    font-family: "Raleway", sans-serif;    
    font-size: 30px;
    color: #FFFFFF;
    padding-left: 110px;
    padding-top: 20px;
}
.logo span{
    font-family: "Raleway", sans-serif;    
    font-size: 30px;
    color: #EC7979;
}
.menu{
  display: inline-flex;
  padding-left: 625px;
  padding-top: 25px;
}
.menu li{
    list-style: none; 
    padding-right: 25px;        
}
.menu li:last-child{
    padding-right: 0px; 
}
.menu a {    
    text-decoration: none;
    font-family: "Open Sans", sans-serif;    
    font-size: 15px;     
    color: rgba(255, 255, 255, 0.7);      
}  
.first{
    height: 600px;
    width: 100%;
    background-color: black;
    background-image: url(../img/background_1.svg);
    background-size: cover;
    border-top: 1px solid black;
    box-shadow: 0 0 0 300px rgba(0, 0, 0, .45) inset;
    
}
.first_left{
    width: 50%;
    padding-left: 110px;
}
.first_left h1{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 60px;
    color: #FFFFFF;
    padding-top: 109px;    
}
.first_left span{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 60px;
    color: #EC7979;
    padding-top: 109px;
}
.first_left h2{    
    font-family: Raleway, sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 32px;    
    font-style: normal;
    font-weight: normal;
    white-space: pre-wrap;
    padding-bottom: 32px;
}
.first_left p{  
    padding-top: 39px;    
    width: 50%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;  
    padding-bottom: 39px;    
    color: rgba(255, 255, 255, 0.8);
}
.first_left button{    
    width: 135px;
    height: 42px;
    border: 1px solid #FFFFFF;
    background: none;
    display: block;    
    box-sizing: border-box;
    transition: font-size .1s case in; 
}
.first_left a{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    padding: 11px 26px;
    color: #FFFFFF;      
}
.first_left a:hover{
    font-size:18px;
} 

    






      
.one{
    width: 100%;
    height: 160px;
    background-color: white;
}    
.letter h2{
    padding-top: 35px;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-family: "Raleway","Arial", sans-serif;
    padding-bottom: 15px;
}
.letter hr{
    margin: auto;    
}
.letter p{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding-top: 15px;
    text-align: center;   
    line-height: 19px;   
}  
.kards{
    display: flex;         
    justify-content: center;    
    width: 100%;    
}
.kards ul{
    list-style: none;     
}
.kards li{
    width: 350px;
    float: left;
    padding-top: 30px;
    padding-right: 32px;                
}
.kards li:last-child{
    padding-right: 0px;    
}
.circle{
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    margin: auto;  
    position: relative;         
}
.circle img{
    position: absolute;
    top: 20px;
    left: 24px;      
}
h3{
    color:#333333;
    padding-top: 15px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 10px;
    line-height: 27px;
    text-align: center;   
}
.kards p{
    color: #000000;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    line-height: 19px;          
}
.circle_2{
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    margin: auto;  
    position: relative;  
}
.circle_2 img{
    position: absolute;
    top: 22px;
    left: 15px;    
}     
.circle_3{
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    margin: auto;  
    position: relative;   
}
.circle_3 img{
    position: absolute;
    top: 19px;
    left: 25px;      
}   
.two{
    width: 100%;
    height: 220px;    
    background: url(../img/toun_\ image.png) no-repeat;
    box-shadow:0 0 0 110px rgba(0, 0, 0, 0.65) inset;
    background-size: cover;  
    margin-top: 200px;     
}
.two h2{
    padding-top: 35px;
    font-family: "Raleway","Arial", sans-serif;
    font-size: 36px;    
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.two hr{
    margin: auto;  
}
.two p{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 20px;
    padding-bottom: 15px;
}
.two button{    
    width: 135px;
    height: 42px;
    border: 1px solid #FFFFFF;
    background: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    transition: font-size .1s case in; 
}
.two a{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    padding: 11px 26px;
    color: #FFFFFF;      
}
.two a:hover{
    font-size:18px; 
}
footer{
    width: 100%;
    height: 60px;     
    background: #000000;
}
.contakt{
    display: flex;
    justify-content: center;
}
.contakt li{
    padding-top: 10px;
    float: left;
    padding-right: 15px;       
}
footer p{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 5px;
}
.contakt img:hover{
    background-color:red;
}
