*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
   /* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'),        
         url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-regular.woff') format('woff'); /* Modern Browsers */
}
body{
    width: 100%;
}
.logo{
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    
}
.logo h4{
    font-family: "Raleway", sans-serif;    
    font-size: 30px;
    color: #FFFFFF;
    padding-left: 110px;
    padding-top: 20px;
}
.logo span{
    font-family: "Raleway", sans-serif;    
    font-size: 30px;
    color: #EC7979;
}
.menu{
  display: inline-flex;
  padding-left: 625px;
  padding-top: 25px;
}
.menu li{
    list-style: none; 
    padding-right: 25px;        
}
.menu li:last-child{
    padding-right: 0px; 
}
.menu a {    
    text-decoration: none;
    font-family: "Open Sans", sans-serif;    
    font-size: 15px;     
    color: rgba(255, 255, 255, 0.7);      
}  
.first{
    height: 600px;
    width: 100%;
    display: flex;
    background-color: black;
    background-image: url(../img/background_1.svg);
    background-size: cover;
    border-top: 1px solid black;
    box-shadow: 0 0 0 300px rgba(0, 0, 0, .45) inset;
    
}
.first_left{
    width: 50%;
    padding-left: 110px;
}
.first_left h1{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 60px;
    color: #FFFFFF;
    padding-top: 75px;    
}
.first_left span{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 60px;
    color: #EC7979;
    padding-top: 75px;
}
.first_left h2{    
    font-family: Raleway, sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 32px;    
    font-style: normal;
    font-weight: normal;
    white-space: pre-wrap;
    padding-bottom: 32px;
}
.first_left p{  
    padding-top: 39px;    
    width: 50%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;  
    padding-bottom: 39px;    
    color: rgba(255, 255, 255, 0.8);
}
.first_left button{    
    width: 135px;
    height: 42px;
    border: 1px solid #FFFFFF;
    background: none;
    display: block;    
    box-sizing: border-box;
    transition: font-size .1s case in; 
}
.first_left a{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    padding: 11px 26px;
    color: #FFFFFF;  
    font-weight: 600;    
}
.first_left a:hover{
    font-size:18px;
} 
.first_right{
    width: 320px;
    background-color: #FFFFFF;;
    height: 370px;   
    margin-top: 111px;
    border-radius: 8px;
    border: 2px solid #EC7979;    
    margin-left: 200px;      
}
.name_legenda p{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;        
    text-align: center;    
    color: #333333; 
    padding-top: 15px;   
}
.name_legenda span{
    color: #EC7979;
}
.info_user label{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;    
    color: #BDBDBD;    
}
.info_user{
    text-align: left;
    padding-top: 30px;    
    padding-left: 25px;
}
.input_text_user{    
    border: 0;    
    width: 252px;   
    border-bottom: 1px solid #BDBDBD;    
    margin-left: 25px;
    height:25px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color:black;
    padding-left: 10px;
}
input[type=submit]{
    width: 100%;
    height: 54px;    
    background: #EC7979;
    border: 1px solid #EC7979;
    border-radius: 0px 0px 8px 8px;
    font-family: "Open Sans", sans-serif;  
    color:black;     
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;    
    text-align: center;    
    color: #FFFFFF;
    margin-top: 50px;       
}
.social_contakt{
    width: 100%;
    height: 110px;
    background: #F8EFEF;
    display: flex;    
}
.social_text{
    width: 476px;
}
.social_text h5{      
    padding-left: 111px;
    padding-top: 14px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}
.social_text p{
    padding-left: 111px;
    padding-top: 14px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}
.icon_contakt{
    display: inline-flex;
    padding-top: 34px; 
    margin-left: 90px;  
}
.social_contakt li{
    list-style: none; 
    padding-right: 55px;
}
.second{
    height: 600px;
    width: 100%;
    display: flex;
}
.tab_lica{
    width: 25%;
    display: block;
}
.tab_1{       
    width: 112px;
    height: 110px;
    margin-left: 111px;
    margin-top: 125px;
    background: #EC7979;
    border-radius: 4px solid #EC7979;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;      
}
.tab_2{       
    width: 112px;
    height: 110px;
    margin-left: 111px;    
    background:  #333333;
    border-radius: 4px solid #333333;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.tab_3 {   
    width: 112px;
    height: 110px;
    margin-left: 111px;    
    background:  #333333;
    border-radius: 4px solid #333333;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.second_text{
    width: 40%
}
.second_text h4{
    padding-top: 126px;
    padding-bottom: 58px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;    
    text-transform: uppercase;
    color: #000000;
}
.second_text p{  
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;    
    text-transform: uppercase;
    color: #86878B;   
}
.second_text button{
    margin-top: 89px;
    width: 135px;
    height: 42px;
    border: 1px solid #EC7979;
    background: #EC7979;         
    box-sizing: border-box;
    transition: font-size .1s case in; 
}
.second_text a{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    padding: 11px 26px;
    color: #FFFFFF;  
    font-weight: 600;    
}
.second_image img{
    margin-top: 100px;
    margin-left: 53px;  
}  
   /* Домашняя работа к уроку 3-4*/     
.third{
    width: 100%;
    height: 520px;
    background-color: white;
}    
.letter h2{
    padding-top: 35px;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-family: "Raleway","Arial", sans-serif;
    padding-bottom: 34px;
}
.letter hr{
    margin: auto;    
}
.letter p{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding-top: 34px;
    text-align: center;   
    line-height: 19px;      
}  
.kards{
    display: flex;         
    justify-content: center;    
    width: 100%;     
}
.kards ul{
    list-style: none; 
    margin-bottom: 108px;    
}
.kards li{    
    width: 350px;
    float: left;
    padding-top: 67px;
    margin-right: 32px;                   
}
.kards li:last-child{
    margin-right: 0px;    
}
.circle{
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    margin: auto;  
    position: relative;         
}
.circle img{
    position: absolute;
    top: 20px;    
    left: 24px;      
}
h3{
    color:#333333;
    padding-top: 30px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 16px;
    line-height: 27px;
    text-align: center;   
}
.kards p{
    color: #000000;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    line-height: 19px;          
}
.circle_2{
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    margin: auto;  
    position: relative;  
}
.circle_2 img{
    position: absolute;
    top: 22px;   
    left: 15px;      
}     
.circle_3{
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;     
    position: relative;
    margin: auto;    
}
.circle_3 img{    
    position: absolute;
    top: 19px;
    left: 25px;          
}   
/*PRICING*/
.pricing{
    height: 800px;
    background-color: #F5F5F5;
    width: 100%;
}
.pricing h2{
    padding-top: 80px;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-family: "Raleway","Arial", sans-serif;
    padding-bottom: 34px;
    text-transform: uppercase;
}
.pricing hr{
    margin: auto;    
}
.pricing p{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding-top: 34px;
    text-align: center;   
    line-height: 19px;      
}
.pircing_tabl{
    display: flex;
    justify-content: center;
    width: 100%;    
}
.pircing_tabl_1, .pircing_tabl_2, .pircing_tabl_3{
    margin-top: 60px;    
    border: 3px solid #F5F5F5;  
    background: #FFFFFF;    
    box-sizing:border-box; 
    border-collapse: collapse;
    margin-right: 70px;
}
.pircing_tabl_1 td, .pircing_tabl_2 td, .pircing_tabl_3 td{    
    width: 340px;
    height: 40px;
    background: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #86878B;
    border: 3px solid #F5F5F5;  
}
.tabl_1_str_1 th{       
    height: 50px;
    background: #333333;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    width:340px;
    padding-top: 15px;
    border: 3px solid #F5F5F5;
    padding-bottom: 9px; 
}
.tabl_1_str_2 th{  
    width: 340px;
    height: 100px;
    background: #333333;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;     
    text-align: center;
    color: #FFFFFF;
    font-family: "Raleway"  sans-serif;
    font-size: 35px;
    line-height: 41px;
    border: 3px solid #F5F5F5; 
}
.tabl_1_str_3 th{       
    height: 50px;
    background: #333333;
    font-family: "Open Sans", sans-serif;    
    text-align: center;    
    width:340px;
    padding-top: 17px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.5);
    border: 3px solid #F5F5F5; 
    padding-bottom: 14px;
}
.pircing_tabl_2{
    margin-top: 47px;      
}
.pircing_tabl_3:last-child{
    margin-right: 0;
}

/*TOWN*/
.fourth{
    width: 100%;
    height: 220px;    
    background: url(../img/toun_\ image.png) no-repeat;
    box-shadow:0 0 0 110px rgba(0, 0, 0, 0.65) inset;
    background-size: cover;         
}
.fourth h2{
    padding-top: 35px;
    font-family: "Raleway","Arial", sans-serif;
    font-size: 36px;    
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.fourth hr{
    margin: auto;  
}
.fourth p{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 20px;
    padding-bottom: 15px;
}
.fourth button{    
    width: 135px;
    height: 42px;
    border: 1px solid #FFFFFF;
    background: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    transition: font-size .1s case in; 
}
.fourth a{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    padding: 11px 26px;
    color: #FFFFFF;      
}
.fourth a:hover{
    font-size:18px; 
}  
/*FOOTER*/
footer{
    width: 100%;
    height: 60px;     
    background: #000000;
}
.contakt{
    display: flex;
    justify-content: center;
}
.contakt li{
    padding-top: 10px;
    float: left;
    padding-right: 15px;       
}
footer p{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 5px;
}
.contakt img:hover{
    background-color:red;
}
