*{
    margin: 0;
    padding: 0;
}
   /* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'),        
         url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin-regular.woff') format('woff'); /* Modern Browsers */
}
body{
    width: 100%;      
}       
.one{
    width: 100%;
    height: 160px;
    background-color: white;
}    
.letter h2{
    padding-top: 35px;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-family: "Raleway","Arial", sans-serif;
    padding-bottom: 15px;
}
.letter hr{
    margin: auto;    
}
.letter p{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding-top: 15px;
    text-align: center;   
    line-height: 19px;   
}  
.kards{
    display: flex;      
    box-sizing: border-box;    
    justify-content: center;
    margin-left: 13px;  
    width: 100%;    
}
.kards ul{
    list-style: none;     
}
.kards li{
    width: 350px;
    float: left;
    padding-top: 30px;
    padding-right: 32px;                
}
.circle{
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    margin: auto;  
    position: relative;         
}
.circle img{
    position: absolute;
    top: 20px;
    left: 24px;      
}
h3{
    color:#333333;
    padding-top: 15px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 10px;
    line-height: 27px;
    text-align: center;   
}
.kards p{
    color: #000000;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    line-height: 19px;          
}
.circle_2{
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    margin: auto;  
    position: relative;  
}
.circle_2 img{
    position: absolute;
    top: 22px;
    left: 15px;    
}     
.circle_3{
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    margin: auto;  
    position: relative;   
}
.circle_3 img{
    position: absolute;
    top: 19px;
    left: 25px;      
}   
.two{
    width: 100%;
    height: 220px;    
    background: url(../img/toun_\ image.png) no-repeat;
    box-shadow:0 0 0 120px rgba(0, 0, 0, 0.65) inset;
    background-size: cover;  
    margin-top: 200px;     
}
.two h2{
    padding-top: 35px;
    font-family: "Raleway","Arial", sans-serif;
    font-size: 36px;    
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.two hr{
    margin: auto;  
}
.two p{
    font-family: "Raleway","Arial", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 20px;
    padding-bottom: 15px;
}
.two button{    
    width: 135px;
    height: 42px;
    border: 1px solid #FFFFFF;
    background: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    transition: font-size .1s case in; 
}
.two a{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    padding: 11px 26px;
    color: #FFFFFF;      
}
.two a:hover{
    font-size:18px; 
}
footer{
    width: 100%;
    height: 60px;     
    background: #000000;
}
.contakt{
    display: flex;
    justify-content: center;
}
.contakt li{
    padding-top: 10px;
    float: left;
    padding-right: 15px;       
}
footer p{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 5px;
}
.contakt img:hover{
    background-color:red;
}
